<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {{ title }} | Scholar School Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}">
    <!-- Theme initialization -->
    <link rel="stylesheet" id="theme-style" href="{{ url_for('static', filename='css/app.css') }}">
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>

</html>
